.root {
    width: 100%;
    max-width: 65%;
    height: 680px;
    position: relative;
    margin-right: -159px;
}

.smallPokeBall {
    position: absolute;
    top: 8%;
    left: 1%;
}

.cloud {
    position: absolute;
    left: -10.31%;
    bottom: 39.22%;
}

.cloudBig {
    position: absolute;
    left: 39.86%;
    top: 5%;
}

.pokeBall {
    position: absolute;
    top: 4.38%;
    right: -8%;
}

.pikachu {
    position: absolute;
    top: 6%;
    left: -8%;
}
