.root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input {
    height: 53px;
    width: 1088px;
    outline: 0;
    background: White;
    box-shadow: 4px 4px 16px rgba(1, 28, 64, 0.2);
    border-radius: 40px;
    font-size: 16px;
    line-height: 20px;
    padding: 16px 31px;
    margin-bottom: 100px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.title {
    margin: 73px 0 34px;
    font-size: 35px;
    line-height: 41px;
    letter-spacing: 3px;
}
